@import '../../../../../../../../styles/main';

.container {
  display: block;
  margin-top: 2rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.label {
  @include typography(p1, bold);
  color: var(--white);
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.input {
  @include typography(input);
  width: 100%;
  outline: none;
  border-radius: .5rem;
  color: var(--grey-1);
  border: 3px solid transparent;
  padding: .5rem 1rem;

  &:focus {
    border-color: var(--secondary-color);
  }
}
