@import '../../../../../../../../styles/main';

.container {
  display: block;
  margin-top: 2rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.label {
  @include typography(h2);
  color: RGB(var(--white));
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.input {
  width: 35rem;
  outline: none;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 2rem;
  color: RGBA(var(--black), .7);
  border: 3px solid transparent;

  &:focus {
    border-color: RGB(var(--secondary-color));
  }
}
