@import '../../../../../../../styles/main';

.container {
  display: flex;
  color: RGBA(var(--white-alpha), 0.9);
  z-index: 2;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.status {
  display: flex;
  align-items: center;

  > *:first-child {
    display: flex;
    align-items: center;
    margin-right: .5rem;
  }

  > *:nth-child(2) {
    @include typography(p1, semibold);
  }

  &:not(:last-child) {
    > *:nth-child(2) {
        margin-right: 1.5rem;
    }
  }
}
