@import '../../../../../styles/main';

.container {
  background-color: var(--pattrick-blue);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: var(--elevation-1);
  z-index: 2;
}

[data-theme='dark'] {
  .container {
    background-color: var(--grey-6);
  }
}
