@import '../../../../../styles/main';

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding: 1rem 0;
}

.image {
  border-radius: 50%;
  margin-right: 1rem;
}

.about {
  cursor: pointer;
  @include typography(p2, bold);
  display: flex;
  color: var(--grey-1);

  > *:not(:last-child) {
    margin-right: 1rem;
  }
}

.controls {
  display: flex;
  color: var(--manatee);

  > *:not(:last-child) {
    margin-right: 1rem;
  }
}
