@import '../../../styles/main';

.container {
  background-color: var(--lavender-blush);
  height: 100%;
  display: grid;
  grid-template-rows: 5.5rem 1fr 3rem;
  grid-row-gap: 5.5rem;
}

[data-theme='dark'] {
  .container {
    background-color: var(--bg-color);
  }
}
