@import '../../../../../styles/main';

.container {

}

.menuContainer {
  top: 6.2rem;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 30rem;
  background-color: RGB(var(--white));
  animation: slide-in 0.5s;
  border-right: 1px solid var(--primary-border-color);
}

@keyframes slide-in {
  0% {
    left: -40%;
  }
  100% {
    left: 0;
  }
}
