@import '../../../../styles/main';

.container {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-column-gap: 6rem;
}

.contentSlider {
  display: flex;
  flex-direction: column;
  flex: 2 0 0;

  > * {
    flex: 1 0 0;
  }

  > *:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 4.4rem;
  }
}

.signUpContainer {
  border-radius: 1.5rem;
  margin-right: 6rem;
  background: var(--pattrick-blue);
}

.disclaimer {
  @include typography(h5);
  color: RGBA(var(--black-alpha), .8);
  margin-bottom: 7rem;
}

@include respond(phone) {
  .container {
    grid-template-columns: 1fr;
  }

  .contentSlider {
    display: none;
  }

  .signUpContainer {
    margin: 1px 0;
  }
}
