@import '../../../../styles/main';

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.contentSlider {
  margin-top: 4rem;
  flex: 2 0 0;
}

.signUpContainer {
  margin: 1rem;
  background: var(--primary-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  @include typography(H1);
  color: RGBA(var(--black-alpha), .8);
  margin-bottom: 4rem;
}

.subHeader {
  @include typography(H3);
  color: RGBA(var(--black-alpha), .8);
  margin-bottom: 1rem;
}

.disclaimer {
  @include typography(h5);
  color: RGBA(var(--black-alpha), .8);
  margin-bottom: 7rem;
}

@include respond(phone) {
  .container {
    grid-template-columns: 1fr;
  }

  .contentSlider {
    display: none;
  }

  .signUpContainer {
    margin: 1px 0;
  }
}
