@import '../../../../../../../styles/main';


.postMessage {
  @include typography(p1);
  letter-spacing: 1px;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--grey-1);
}

.post {
  flex: 1 0 0;
  display: flex;
  align-items: stretch;
  margin-top: 1rem;

  > div {
    flex: 1 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@include respond(phone) {
  .header {
    display: none;
  }
}
