// GLOBAL RESET

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure {
  margin:0;
}

html {
  box-sizing: border-box;
  font-size: 62.75%;
  scroll-behavior: smooth;
}

html,body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

a, a:visited, a:hover {
  text-decoration: none;
}

body {
  font-family: 'Spectral', serif;
}

[data-theme='light'] {
  // USAGE:- background-color: var(--primary-color)
  --bg-linear-gradient: linear-gradient(45deg, rgb(149, 124, 156), rgb(101, 107, 169));
  //primary
  --primary-color: rgb(250, 199, 72);
  --bg-color: rgb(255, 255, 255);

  //secondary-colors
  --secondary-color: rgb(248, 141, 173);
  --lavender-blush: rgb(249, 233, 236);
  --pattrick-blue: rgb(29, 47, 111);
  --soft-blue: rgb(92, 162, 214);
  --sky-blue: rgb(145, 204, 244);

  //need to remove
  --white: rgb(255, 255, 255);
  --primary-border-color: #dbdbdb;
  --input-box: #F4F5F8;
  --manatee: rgb(142, 148, 157); // input-text, notification
  --purple: rgb(91, 55,183);
  --blue: rgb(24, 138,174);
  --yellow: rgb(230, 169, 25);
  --pink: rgb(201, 55, 157);
  --black: rgb(0, 0, 0);
  --dim-grey: rgb(105, 105, 105); // like comment text
  --zambezi: rgb(3, 3, 3); // Menu icon, text

  //greys
  --grey-1: rgb(54, 54, 54);
  --grey-2: rgb(97, 97, 97);
  --grey-3: rgb(144, 144, 144);
  --grey-4: rgb(195, 195, 195);
  --grey-5: rgb(229, 229, 229);
  --grey-6: rgb(250, 250, 250);

  //status
  --warn: rgb(235, 87, 86);
  --success: rgb(92, 214, 97);
  --loading: rgb(69, 121, 240);

  // USAGE:- background-color: RGBA(var(--primary-color), .5)
  --primary-color-alpha: 250, 199, 72;
  --secondary-color-alpha: 248, 141, 173;
  --lavender-blush-alpha: 249, 233, 236;
  --pattrick-blue-alpha: 29, 47, 111;
  --soft-blue-alpha: 92, 162, 214;
  --sky-blue-alpha: 145, 204, 244;

  //need to remove
  --white-alpha: 255, 255, 255;
  --bg-color-alpha: 250, 250, 250;
  --primary-border-color-alpha: #dbdbdb;
  --input-box-alpha: #F4F5F8;
  --manatee-alpha: 142, 148, 157;
  --purple-alpha: 91, 55,183;
  --blue-alpha: 24, 138,174;
  --yellow-alpha: 230, 169, 25;
  --pink-alpha: 201, 55, 157;
  --black-alpha: 0, 0, 0;
  --dim-grey-alpha: 105, 105, 105;
  --zambezi-alpha: 3, 3, 3;

  //greys
  --grey-1-alpha: 54, 54, 54;
  --grey-2-alpha: 97, 97, 97;
  --grey-3-alpha: 144, 144, 144;
  --grey-4-alpha: 195, 195, 195;
  --grey-5-alpha: 229, 229, 229;
  --grey-6-aplha: 247, 245, 245;

  //status
  --warn-alpha: 235, 87, 86;
  --success-alpha: 92, 214, 97;
  --loading-alpha: 69, 121, 240;

  // BOX-SHADOWS
  --elevation-1:  0px 2px 4px -1px rgba(0,0,0,0.2),
                  0px 4px 5px 0px rgba(0,0,0,0.14),
                  0px 1px 10px 0px rgba(0,0,0,0.12);

  --elevation-2:  0 2px 1px -1px rgba(0,0,0,0.2),
                  0px 1px 1px 0px rgba(0,0,0,0.14),
                  0px 1px 3px 0px rgba(0,0,0,0.12);

}

[data-theme='dark'] {
  // USAGE:- background-color: var(--primary-color)
  --bg-linear-gradient: linear-gradient(45deg, rgb(149, 124, 156), rgb(101, 107, 169));
  //primary
  --primary-color: rgb(250, 199, 72);
  --bg-color: rgb(18, 18, 18);

  //secondary-colors
  --secondary-color: rgb(248, 141, 173);
  --lavender-blush: rgb(249, 233, 236);
  --pattrick-blue: rgb(29, 47, 111);
  --soft-blue: rgb(92, 162, 214);
  --sky-blue: rgb(145, 204, 244);

  //need to remove
  --white: rgb(255, 255, 255);
  --primary-border-color: #dbdbdb;
  --input-box: #F4F5F8;
  --manatee: rgb(142, 148, 157); // input-text, notification
  --purple: rgb(91, 55,183);
  --blue: rgb(24, 138,174);
  --yellow: rgb(230, 169, 25);
  --pink: rgb(201, 55, 157);
  --black: rgb(0, 0, 0);
  --dim-grey: rgb(105, 105, 105); // like comment text
  --zambezi: rgb(3, 3, 3); // Menu icon, text

  //greys
  --grey-1: rgb(208, 208, 208);
  --grey-2: rgb(97, 97, 97);
  --grey-3: rgb(144, 144, 144);
  --grey-4: rgb(102, 102, 102);
  --grey-5: rgb(44, 44, 44);
  --grey-6: rgb(30,30,30);

  //status
  --warn: rgb(235, 87, 86);
  --success: rgb(92, 214, 97);
  --loading: rgb(69, 121, 240);

  // USAGE:- background-color: RGBA(var(--primary-color), .5)
  --primary-color-alpha: 250, 199, 72;
  --secondary-color-alpha: 248, 141, 173;
  --lavender-blush-alpha: 249, 233, 236;
  --pattrick-blue-alpha: 29, 47, 111;
  --soft-blue-alpha: 92, 162, 214;
  --sky-blue-alpha: 145, 204, 244;

  //need to remove
  --white-alpha: 255, 255, 255;
  --bg-color-alpha: 18, 18, 18;
  --primary-border-color-alpha: #dbdbdb;
  --input-box-alpha: #F4F5F8;
  --manatee-alpha: 142, 148, 157;
  --purple-alpha: 91, 55,183;
  --blue-alpha: 24, 138,174;
  --yellow-alpha: 230, 169, 25;
  --pink-alpha: 201, 55, 157;
  --black-alpha: 0, 0, 0;
  --dim-grey-alpha: 105, 105, 105;
  --zambezi-alpha: 3, 3, 3;

  //greys
  --grey-1-alpha: 208, 208, 208;
  --grey-2-alpha: 97, 97, 97;
  --grey-3-alpha: 144, 144, 144;
  --grey-4-alpha: 102, 102, 102;
  --grey-5-alpha: 44, 44, 44;
  --grey-6-aplha: 30,30,30;

  //status
  --warn-alpha: 235, 87, 86;
  --success-alpha: 92, 214, 97;
  --loading-alpha: 69, 121, 240;

  // BOX-SHADOWS
  --elevation-1:  0px 2px 4px -1px rgba(0,0,0,0.2),
  0px 4px 5px 0px rgba(0,0,0,0.14),
  0px 1px 10px 0px rgba(0,0,0,0.12);

  --elevation-2:  0 2px 1px -1px rgba(0,0,0,0.2),
  0px 1px 1px 0px rgba(0,0,0,0.14),
  0px 1px 3px 0px rgba(0,0,0,0.12);

}
