@import '../../../styles/main';

.container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: RGB(var(--primary-color));
  border: 1px solid $primaryBorderColor;
}
