@import '../../../styles/main';

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: RGB(var(--white));
  border: 1px solid $primaryBorderColor;
}
