@import '../../../../../styles/main';

.container {
  display: flex;
}
.profileLink {
  margin-right: 1.8rem;
}

.image {
  img {
    border-radius: 50%;
  }
}

.loader {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--grey-1);
}

.content {
}

.userName {
  @include typography(p1, bold);
  margin-right: 4px;
  color: var(--grey-1);
  cursor: pointer;
}

.comment {
  display: inline;
  @include typography(p1);
  color: var(--grey-1);
}
