@import '../../../styles/main';

.label {
  width: 100%;
}

.textArea {
  @include typography(h7);
  height: 4rem;
  outline: none;
  padding: 1rem;
  width: 100%;
  border: none;
  background-color: var(--grey-5);
  color: var(--grey-1);
  resize: none;
  max-height: 5rem;
  border-radius: 4px;

  &::placeholder {
    @include typography(h6, semibold);
  }
}
