@import '../../../../../styles/main';


.coverContainer {
  flex: 20vw;
  height: 100%;

  > *:first-child {
    height: 50%;
  }

  > *:nth-child(2) {
    height: 50%;
    padding: 2rem;
    overflow-y: auto;
  }
}

.coverPhoto {
  background-size: cover;
  background-position: center;
}

.descriptionContainer {
  background-color: RGBA(var(--black-alpha), .9);
}

.profileInfo {
}

.name {
  @include typography(h2, bold);
  color: RGBA(var(--white-alpha), .8);
}

.profileDetails {
  margin-top: 1.5rem;
}

.postsCount, .subCount {
  @include typography(p1);
  color: RGBA(var(--white-alpha), .8);
}

.postsCount {
  margin-right: 1.5rem;
}

.info {
  @include typography(p1);
  color: var(--grey-3);
  margin-top: 2rem;

}

.personalInfoContainer {
  margin-top: 2rem;
}

.personalInfo {
  @include typography(p2);

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  > *:first-child {
    color: RGBA(var(--white-alpha), .8);
    margin-bottom: .5rem;
  }

  > *:nth-child(2) {
    color: var(--grey-3)
  }
}
