@import '../../../../../styles/main';

.container {
  cursor: pointer;
}

.header {
  @include typography(h3, bold);
  color: var(--grey-1);
  margin-bottom: 1rem;
}

.storyContainer {
  background-color: var(--grey-6);
  border-radius: .4rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.storyThumbnail {
  width: 30rem;
  height: 15rem;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .4rem .4rem 0 0;
  }
}

.storyDetails {
  padding: .5rem 1rem;
}

.storyHeader {
  @include typography(p0);
  color: var(--grey-1);
  margin-bottom: 1rem;
}

.storySubHeader {
  @include typography(p1);
  color: var(--grey-2);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footer {
  color: var(--grey-3);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem .5rem 1rem;
}
