@import '../../../styles/main';

.container {
  position: relative;
  height: 100%;
  background-color: RGB(var(--bg-color));
}

.contentContainer {
  display: flex;
  height: 100%;
  overflow: scroll;

  > *:first-child {
    flex: 1 1 0;
  }

  > *:nth-child(2) {
    flex: 2 0 0;
  }

  > *:nth-child(3) {
    flex: 1 1 0;
  }
}
