@import '../../../../../styles/main';

.container {
  padding: .5rem 1rem;
}

.about {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.loader {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.image {
  border-radius: 50%;
  margin-right: 1rem;
}

.name {
  @include typography(h6, semibold);
  align-items: center;
}

.title {
  @include typography(h6);
}

.profileNav {
  color: var(--zambezi);
}
