@import '../../../../styles/main';

.container {
  @include typography(H2);
  background-color: RGB(var(--primary-color));
  display: flex;
  align-items: center;
  justify-content: center;
  color: RGB(var(--white));
  text-transform: uppercase;
  letter-spacing: 2rem;
  padding: .5rem;
}
