@import '../../../../../../../../../styles/main';

.container {
  padding: .5rem;
  border-top: 1px solid var(--grey-5);
  background-color: var(--grey-6);
  display: flex;
}

.input {
  flex: 1 0 0;
  background-color: inherit;
}

.btn {
  background-color: transparent;
  flex: 0 0 0;
}
