// scss-lint:disable PropertySpelling
@mixin fontSize($size) {

  @if $size == h1 {
    font-family: Spectral, Helvetica, Arial, sans-serif;
    font-size: 3.5rem;
    line-height: 4rem;
  }

  @if $size == h2 {
    font-family: Spectral, Helvetica, Arial, sans-serif;
    font-size: 2.9rem;
    line-height: 3.2rem;
  }

  @if $size == h3 {
    font-family: Spectral, Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  @if $size == h4 {
    font-family: Spectral, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
  }

  @if $size == input {
    font-family: Darker Grotesque, Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  @if $size == p0 {
    font-family: Darker Grotesque, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    line-height: 1.6rem;
  }

  @if $size == p1 {
    font-family: Darker Grotesque, Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  @if $size == p2 {
    font-family: Darker Grotesque, Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  @if $size == p3 {
    font-family: Darker Grotesque, Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

@mixin fontWeight($weight) {
  @if $weight == bold {
    font-weight: 700;
  }

  @if $weight == semibold {
    font-weight: 600;
  }

  @if $weight == default {
    font-weight: 500;
  }
}

@mixin typography($size, $weight: default) {
  @include fontSize($size);
  @include fontWeight($weight);
}
