@import '../../../../../styles/main';

.container {
  padding: .5rem 2rem;
}

.about {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.postInfo {
  display: flex;
  flex-direction: column;
}

.location {
  @include typography(p2);
  color: var(--grey-3);
}

.loader {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.image {
  border-radius: 50%;
  margin-right: 1rem;
}

.name {
  @include typography(p1, bold);
  color: var(--grey-1);
  align-items: center;
}

.title {
  @include typography(p1);
  color: var(--grey-1);
}
