@import '../../../../../styles/main';

.container {
  margin: 0;
}
.image {
  border-radius: 5rem;
  padding: 1rem;
}

.loader {
  padding: 1rem;
  height: 60rem;
  width: 60rem;
  background-color: RGBA(var(--manatee-alpha), .5);
}

@include respond(phone) {
  .image {
    width: 100%;
  }
}
