@import '../../../../../styles/main';

.container {
  margin: 0;
  position: relative;
}

.image {
  border-radius: 4rem;
  padding-bottom: 1rem;
}

.loader {
  height: 60rem;
  width: 60rem;
  background-color: RGBA(var(--manatee-alpha), .5);
}

.backgroundBlur {
  position: absolute;
  bottom: -5px;
  top: 100px;
  z-index: -1;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.blurredImage {
  width: 90%;
  filter: blur(20px);
}


@include respond(phone) {
  .image {
    width: 100%;
  }
}

[data-theme='dark'] {
  .backgroundBlur {
    opacity: .5;
  }
}
