@import '../../../styles/main';

.container {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    margin-right: auto;
    margin-left: auto;
  }

  > *:not(:last-child) {
    margin-bottom: 4rem;
  }
}

@include respond(phone) {
  .container {
    overflow: initial;
    padding: 0;

    > * {
      margin-right: initial;
      margin-left: initial;
    }
  }
  .card {
    width: 100%;
  }
}
