@import '../../../../../../../../styles/main';

.container {
}

.label {
  @include typography(h6);
  color: var(--white);
  margin-top: 2rem;
  text-align: center;

  > *:first-child {
    margin-right: .2rem;
  }

  > *:nth-child(2) {
    color: var(--secondary-color);

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}


.btnContainer {
  margin-top: 2em;
  display: flex;
  justify-content: center;

  > button {
    width: 23rem;
    height: 4.6rem;
  }
}

.signUp {
  @include typography(p2);

  > a {
    color: var(--primary-color);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header {

  > p:first-child {
    @include typography(h2);
    color: var(--white);
    margin-bottom: 1.5rem;
  }

  > p:nth-child(2) {
    @include typography(p1);
    color: var(--white);
  }
}

.forgotPassword {
  @include typography(p1, semibold);
  display: flex;
  justify-content: center;
  padding-top: 2rem;

  > * {
    color: var(--primary-color);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.qrCodeContainer {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--white);
  padding-top: 3rem;
}

.qrCode {
  background-color: var(--white);
  border-radius: 5px;
  margin-right: 1.5rem;

  img {
    height: 8.4rem;
  }
}

.qrText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.qrHeader {
  @include typography(p1, bold);
  color: var(--white);
  margin-bottom: 1rem;
}

.qrDescription {
  @include typography(p2);
  margin: 1rem 0;
  color: var(--white);
}

.qrDescription {
  margin: 0;
}

[data-theme='dark'] {
  .btnContainer {
    > button {
      background-color: var(--primary-color);
      color: var(--grey-5);
    }
  }
}
